:root {
  /* colors */
  /* https://www.canva.com/colors/color-wheel/print/3f5fda+6d3fda+3fadda/ */
  --dominantColor: #459ce7; /* var(--dominantColor); */
  --secondaryColor: #45d8e7; /* var(--secondaryColor); */
  --accentColor: #4562e7; /* var(--accentColor); */

  /* box shadow */
  /* cssmatic */
  /* brumm.af/shadows */
  /* vertical, horizontal, blur, spred, color+opacity */
  --boxShadow: 0 0 20px rgba(0, 0, 0, 0.35); /* var(--boxShadow); */
}
